<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <iframe
      width="350"
      height="430"
      allow="microphone;"
      src="https://console.dialogflow.com/api-client/demo/embedded/05abd824-9443-42b2-b644-83b0a6068465"
    ></iframe>
  </div>
</ion-content>
