<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Chat bot </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bienvenido al Chat de la peluquieria Shakinah</strong>
    <p>Programadores:</p>
    <div>
      <ion-img src="../../assets/IMG.jpg" />
    </div>
    <p>Aqui encontraras informacion de nuestros servicios</p>
    <ion-button [routerLink]="['/chat']">iniciar</ion-button>
  </div>
</ion-content>